
[v-cloak] {
    display: none;
}

.Wrapper {
    padding:70px 0 100px;
}
@media only screen and (max-width:640px) and (max-device-width:1280px) {
    .wrapper {
        padding:70px 0 100px;
    }
}

.Container {
    width: 976px;
}
@media only screen and (max-width:640px) and (max-device-width:1280px) {
    .container {
        width: 94%;
        margin: 0 auto;
    }
}

/* Item component */
.Items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
    margin-bottom: -1.4%;
}
@media only screen and (max-width:640px) and (max-device-width:1280px) {
    .Items {
        flex-direction: column;
        margin-bottom: -15px;
    }
}

.Items__item {
    width: 49.3%;
    height: 289px;
    position: relative;
    color: #fff;
    box-sizing: border-box;
    margin-bottom: 1.4%;
}
@media only screen and (max-width:640px) and (max-device-width:1280px) {
    .Items__item {
        width: 100%;
        height: auto;
        margin-bottom: 15px;
    }
}

.Items__imgarea {
    width: 100%;
}
@media only screen and (max-width:640px) and (max-device-width:1280px) {
    .Items__imgarea {
        height: 234px;
    }
}

.Items__img { 
    width: 100%;
}
@media only screen and (max-width:640px) and (max-device-width:1280px) {
    .Items__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.Items__textarea {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 15px;
    box-sizing: border-box;
    background: linear-gradient(to top,rgba(0,0,0,0.6) 50%,transparent);
}
@media only screen and (max-width:640px) and (max-device-width:1280px) {
    .Items__textarea {
        padding: 10px;
        background-color: #000;
        position: static;
    }
}

.Items__title { 
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}
.Items__subtext {
    font-size: 12px;
}




