<!doctype html>
<html lang="ja">

<!--  [if lt IE 7 ]><html lang="en" class="no-js ie6"><![endif]   -->
<!--  [if IE 7 ]><html lang="en" class="no-js ie7"><![endif]      -->
<!--  [if IE 8 ]><html lang="en" class="no-js ie8"><![endif]      -->
<!--  [if IE 9 ]><html lang="en" class="no-js ie9"><![endif]      -->
<!-- Build Version: 0.1.86 -->

<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="keywords" content="">
<meta name="description" content="">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<script type="text/javascript">
//<![CDATA[
if((navigator.userAgent.indexOf("iPhone") !=-1)||((navigator.userAgent.indexOf("Android") !=-1)&&(navigator.userAgent.indexOf("Mobile") !=-1))||(navigator.userAgent.indexOf('iPod')  !=-1)){
}else{
document.write('<meta name="viewport" content="width=980" />');
}
//]]>
</script>
<script type="text/javascript" src="/etc/designs/panasonic/common-clientlibs/js/modernizr.js"></script>
<script type="text/javascript" src="/etc/designs/panasonic/common-clientlibs/js/jquery.js"></script>
<script type="text/javascript" src="/etc/designs/panasonic/common-clientlibs/js/jquery-ui.js"></script>
<script type="text/javascript" src="/etc/designs/panasonic/common-clientlibs/js/jquery.scrollTo.js"></script>
<script type="text/javascript" src="/etc/designs/panasonic/common-clientlibs/js/jquery-mousewheel.js"></script>
<script type="text/javascript" src="/etc/designs/panasonic/common-clientlibs/js/jquery.jscrollpane.min.js"></script>
<script type="text/javascript" src="/etc/designs/panasonic/common-libs-ext.js"></script>
<script type="text/javascript">
	globalnavi.data = '/etc/data/related/global-navi_data.js';
	sitesetting.data = '/etc/data/related/site_data.js';
	jsFiles = [ "/etc/designs/panasonic/common-libs.js", "/etc/designs/panasonic/basicpage-libs.lmtd.js"];
</script>
<link rel="stylesheet" href="/etc/designs/panasonic/common-libs.css" type="text/css">
<link rel="stylesheet" href="/etc/designs/panasonic/basicpage-libs.lmtd.css" type="text/css">
<link rel="stylesheet" href="/etc/designs/panasonic/common-clientlibs/css/common-font_jp.css" type="text/css">
<link rel="stylesheet" href="css/style.css" type="text/css">

<!--[if lte IE 9]><script src="/etc/designs/panasonic/common-clientlibs/js/html5.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/etc/designs/panasonic/common-clientlibs/css/ie.css">
	<link rel="stylesheet" href="/etc/designs/panasonic/common-clientlibs/css/ie9.css">
<![endif]-->

<link rel="icon" href="/etc/designs/panasonic/common-clientlibs/images/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="/etc/designs/panasonic/common-clientlibs/images/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="/etc/designs/panasonic/common-clientlibs/images/favicon.ico" type="image/vnd.microsoft.icon">
<title>Systemwrapper</title>
</head>
<body>
<div id="page">
	<header id="globalheader" role="banner">
		<div class="container">
			<div id="brandlogo"><a href="/"><img alt="Panasonic" src="/etc/designs/panasonic/common-clientlibs/images/lgo-nav-global-panasonic.png"/><img alt="Panasonic" src="/etc/designs/panasonic/common-clientlibs/images/lgo-nav-global-panasonic-m-2x.png" class="rwd"/></a></div>
			
			<div class="sitesearch-container"></div>
			<div id="mobile-navigation"></div>
			<div id="globalheader-utils">
				<div class="wrapper">
					<div id="globalheader-secondarynav"></div>
				</div>
			</div>
			<!--end#globalheader-utils-->
			<div id="globalheader-nav" class="accesible"> </div>
		</div>
	</header>
	<!-- end header-->
	<main role="main">
	
	
	<div class="basic-page">
		<div class="content parsys wpmparsys">
			<div class="Wrapper">
				<div class="Container">
					<div id="ItemList" v-cloak>
						<p>すべての件数：{{ itemLength }}件</p>
						<!-- 木造 -->
						<div v-if="matchMokuzou.list.length > 0">
							<h2 class="SectionTitle TextCenter MarginTop40 MarginBottom40">
								{{ matchMokuzou.title }}
								<span class="SectionTitle__subText">{{matchMokuzou.subTitle}}</span>
							</h2>
							<ul class="Items">
								<li v-for="item in matchMokuzou_limited" :key="item.num" class="Items__item">
									<a :href="item.url">
										<div class="Items__imgarea">
											<img src="http://placehold.jp/24/cc9999/993333/482x289.png" class="Items__img">
										</div>
										<div class="Items__textarea">
											<p class="Items__title">{{ item.title }}</p>
											<p class="Items__subtext">{{ item.familyName }}</p>
										</div>
									</a>
								</li>
							</ul>
						</div>
						
						<!-- パナソニック ホームズの住まい -->
						<div v-if="matchHomes.list.length > 0">
							<h2 class="SectionTitle TextCenter MarginTop40 MarginBottom40">
								{{ matchHomes.title }}
								<span class="SectionTitle__subText">{{matchHomes.subTitle}}</span>
							</h2>
							<ul class="Items">
								<li v-for="item in matchHomes_limited" :key="item.num" class="Items__item">
									<a :href="item.url">
										<div class="Items__imgarea">
											<img src="http://placehold.jp/24/cc9999/993333/482x289.png" class="Items__img">
										</div>
										<div class="Items__textarea">
											<p class="Items__title">{{ item.title }}</p>
											<p class="Items__subtext">{{ item.familyName }}</p>
										</div>
									</a>
								</li>
							</ul>
						</div>

						<!-- RC・鉄骨造 -->
						<div v-if="matchRc.list.length > 0">
							<h2 class="SectionTitle TextCenter MarginTop40 MarginBottom40">
								{{ matchRc.title }}
								<span class="SectionTitle__subText">{{matchRc.subTitle}}</span>
							</h2>
							<ul class="Items">
								<li v-for="item in matchRc_limited" :key="item.num" class="Items__item">
									<a :href="item.url">
										<div class="Items__imgarea">
											<img src="http://placehold.jp/24/cc9999/993333/482x289.png" class="Items__img">
										</div>
										<div class="Items__textarea">
											<p class="Items__title">{{ item.title }}</p>
											<p class="Items__subtext">{{ item.familyName }}</p>
										</div>
									</a>
								</li>
							</ul>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<!--end #basic-page-->
	
	</main>
	<footer id="globalfooter" role="contentinfo">
		<div id="globalfooter-nav"></div>
		
		<div id="globalfooter-terms"></div>
	</footer>
</div>
<!-- end #page --> 
<script src="https://polyfill.io/v3/polyfill.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>